body {
    background: black;
    background: -webkit-linear-gradient(top left, #DCDCDC, white);
    background: -moz-linear-gradient(top left, #DCDCDC, white);
    background: -o-linear-gradient(top left, #DCDCDC, white);
    background: linear-gradient(top left, #DCDCDC, white);
}

.container-fluid {
    margin: 0;
    padding: 0;
    display: flex;
	-webkit-display: flex;
	display: -webkit-flex;
	-moz-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.name {
    font-family: 'Baloo Da', cursive;
    width: 50%;
    padding-left: 5em;
    padding-top: 0.5em;
}

